<!-- ======= About Us Section ======= -->
<section id="about" class="about">

  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <br/>
      <br/>

      <h2>About Us</h2>
    </div>

    <div class="row content">
      <div class="col-lg-6 order-lg-1">
        <img src="assets/img/photo2.png" class="img-fluid" style="margin-bottom: 20px;" alt="Description de l'image">
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 order-lg-2 align-self-center">
        <p>
          Chez CovoiturageFacile, nous croyons en un avenir de déplacement plus durable, économique et convivial. Notre plateforme relie les conducteurs ayant des places disponibles dans leur véhicule à des passagers se rendant dans la même direction, permettant ainsi de partager les frais de trajet et de réduire l'empreinte carbone de chaque voyage.
        </p>
        <ul>
          <li><i class="ri-check-double-line"></i> Réduire les coûts de transport en partageant les frais avec d'autres personnes.</li>
          <li><i class="ri-check-double-line"></i>  Faciliter les déplacements pour les personnes n'ayant pas de moyen de transport.</li>
          <li><i class="ri-check-double-line"></i> Proposer une solution flexible et économique pour les trajets domicile-travail.</li>
        </ul>
        <p>
          Notre mission est de faciliter et d'encourager le covoiturage en offrant une plateforme intuitive et sécurisée où les conducteurs peuvent proposer leurs trajets et les passagers trouver des solutions de transport abordables et conviviales.
        </p>
        <a href="#" class="btn-learn-more">Learn More</a>
      </div>
    </div>

  </div>
</section><!-- End About Us Section -->
