<!-- ======= Header ======= -->
<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">
        <a class="logo me-auto"><img src="assets/img/Logoo.png" alt="" class="img-fluid" routerLink="/hero"></a>

      <nav id="navbar" class="navbar"  >
        <ul>
          <li><a class="nav-link scrollto active"  routerLink="/hero" >Acceuil</a></li>
          <li><a class="nav-link scrollto" routerLink="/about">A propos</a></li>


          <li class="nav-item" *ngIf="isLoggedIn() && isAdmin()"><a style="color: white;" routerLink="/admindashboard" class="nav-link">Dashboard Administrateur</a></li>
         <li class="nav-item" *ngIf="isLoggedIn() && isnomal()"><a style="color: white;" routerLink="/userdashbord" class="nav-link">Dashboard</a></li>

         <li><a class="nav-link"  routerLink="/login" *ngIf="!isLoggedIn()">Connexion <mat-icon> person_pin</mat-icon></a></li>
         <li><a class="nav-link"  *ngIf="isLoggedIn()" (click)="logout()"> Déconnecter<mat-icon>exit_to_app</mat-icon></a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->
