.example-spacer {
  flex: 1 1 auto;
}
.text-white {
  color: white;
}
.navbar{
  color: rgb(22, 25, 86);
}
#header {
  background-color: #00223b; /* Change to the desired background color */
  color: white; /* Change to the desired font color */
}
