
  
  
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
 
  .centere {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

  
  .centere mat-form-field{
    margin-bottom: 20px; /* Espacement entre les champs de formulaire */

  }
  .centere button {
    margin-bottom: 90px; /* Espacement entre les éléments */
    margin-left: 20px; /* Espacement entre le bouton et les éléments précédents */

  }
  
  /* Style amélioré pour le bouton */
  button {
    text-align: center;
    background-color: #00223B;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
    height: 56px;
    padding: 25px;
  }
  
  
  button:hover {
    background-color: #0994DC;
  }
  #about {
    height: 100vh; /* Occupe toute la hauteur de la fenêtre */
  }
  #features {
    margin-top: 2vh; /* Déplace la section en dessous de la section "About" */
    height: 100vh;
  }
    
  