<section id="about" class="about full-width">
  <div class="container" data-aos="fade-up">
    <br>
    <br><br>
    <div class="row">
      <!-- Side filter menu with checkboxes -->
      <div class="col-md-2">
        <mat-card>
          <mat-card-content>
            <h5 class="card-title">Filters</h5>
            Cigarette autorisée
            <mat-checkbox class="form-check" color="primary">
              <mat-icon>smoking_rooms</mat-icon>
            </mat-checkbox>
            Bagage
            <mat-checkbox class="form-check" color="primary">
              <mat-icon>card_travel</mat-icon>
            </mat-checkbox>
            Climatisation
            <mat-checkbox class="form-check" color="primary">
              <mat-icon>ac_unit</mat-icon>
            </mat-checkbox>
            <!-- Add more checkboxes as needed -->
          </mat-card-content>
        </mat-card>
      </div>

      <!-- Displaying one card on the right -->
      <div class="col-md-10">
        <mat-grid-list cols="2" rowHeight="350px" gutterSize="10px">
          <mat-grid-tile *ngFor="let ride of rides">
            <mat-card class="mb-3">
              <div class="card-content">
                <img mat-card-image class="card-img-top" [src]="ride.carImg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <h5 class="card-title">{{ ride.departureLocation }} <mat-icon>arrow_forward</mat-icon> {{ ride.destinationLocation }}</h5>
                  <p class="card-text"><mat-icon>calendar_today</mat-icon> Temp de depart: {{ ride.departureTime }}</p>
                  <p class="card-text">	<mat-icon>group</mat-icon> Places disponible: {{ ride.availableSeats }}</p>
                  <p class="card-text"> <mat-icon>verified_user</mat-icon> {{ride.driver}}</p>
                  <p class="card-text"></p>


                </mat-card-content>
              </div>
            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
  </div>
</section>
