<section id="about" class="about full-width">
  <div class="container" data-aos="fade-up">
    <br>
    <br>
    <h1>RechercheAvancer</h1>
    <div class="row">
      <ng-container *ngFor="let ride of rides; let i = index;">
        <div class="col-md-3">
          <mat-card class="example-card">

            <mat-card-header>
              <mat-card-title>{{ ride.departureLocation }} <mat-icon>arrow_right_alt</mat-icon> {{ ride.destinationLocation }}</mat-card-title>
              <mat-card-subtitle>Driver: {{ ride.driver }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>Temp de depart :	<mat-icon>calendar_today</mat-icon> {{ ride.departureTime }}</p>
              <p>places disponible:  <mat-icon>face</mat-icon> {{ ride.availableSeats }}</p>
            </mat-card-content>

            <!-- Buttons -->
            <div class="buttons">
              <button class="voir-details">Voir détails</button>
              <button class="reserver">Réserver</button>
            </div>

          </mat-card>
        </div>
        <!-- If the index is divisible by 4 (0-indexed), start a new row -->
        <div *ngIf="(i + 1) % 4 === 0" class="w-100"></div>
      </ng-container>
    </div>
  </div>
</section>
