.mat-grid-list {
  margin: 0;
  padding: 0;
}

.mat-grid-tile {
  box-sizing: border-box;
}

.card-img-top {
  width: 80%; /* Adjust as needed */
  height: auto;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

/* Style for cards */
.mat-card {
  width: 100%;
  height: 100%;
  border: 2px solid #007bff;
  border-radius: 8px;
  overflow: hidden; /* Ensures border does not overflow */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for better appearance */
}


.card-content {
  display: flex;
}

.card-title {
  margin: 0;
  font-size: 20px; /* Increase text size */
  font-weight: bold;
  margin-bottom: 8px;
}

.card-img-top {
  flex: 0 0 auto;
  width: 200px; /* Adjust image width as needed */
  height: auto;
  margin-right: 20px;
}

.card-text {
  margin: 0;
  font-size: 16px; /* Increase text size */
}

.mat-card-content {
  flex: 1;
}
.col-md-6 {
  width: 80%; /* Adjust the width as needed */
}
.col-md-9 {
  width: 70%; /* Adjust the width as needed */
}
.centere {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}


.centere mat-form-field{
  margin-bottom: 20px; /* Espacement entre les champs de formulaire */

}
.centere button {
  margin-bottom: 90px; /* Espacement entre les éléments */
  margin-left: 20px; /* Espacement entre le bouton et les éléments précédents */

}

/* Style amélioré pour le bouton */
button {
  text-align: center;
  background-color:#0994DC ;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
  height: 56px;
  padding: 25px;
}


button:hover {
  background-color:#00223B ;
}
/* Animation de survol */
.card-content:hover {
  transform: translateY(-5px); /* Déplace l'élément vers le haut de 5px lors du survol */
}

/* Transition pour le changement de couleur de fond */
.mat-card {
  transition: background-color 0.3s; /* Transition sur la couleur de fond pendant 0.3s */
}

.mat-card:hover {
  background-color: #f0f0f0; /* Change la couleur de fond lors du survol */
}
