<body class="login-body">

  <div class="container" >
    <div class="card-container">
         <mat-card>
        <mat-card-title>Log in</mat-card-title>
        <mat-card-content>
          <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input matInput formControlName="email">
              <small *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)">
                Champ requis
              </small>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Mot de passe</mat-label>
              <input type="password" matInput formControlName="password">
              <small *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">
                Champ requis
              </small>
            </mat-form-field>
            <button mat-raised-button [disabled]="loginForm.invalid" type="submit">Se connecter</button>
          </form>
          <p class="register-link">Pas encore de compte ? <a routerLink="/register">S'inscrire</a></p>
        </mat-card-content>
      </mat-card>
      <img src="assets/img/login.PNG" alt="Image" class="img-fluid">
    </div>
  </div>
</body>
  
