.card-container {
  display: flex;
  flex-direction: row;
  align-items: center; /* Centre verticalement */
  justify-content: space-around; /* Espacement égal entre l'image et la carte */
  gap: 20px; /* Espacement entre l'image et la carte */
}


img {
  flex: 1;
  max-width: 45%; /* Ajustez la largeur selon vos besoins */
  margin-top: 20px; /* Déplace l'image vers le bas */
  opacity: 0.8; /* Opacité de l'image pour la griser */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère */
}





mat-card-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #0994DC;
}
.register-link {
  text-align: center; /* Centre le texte horizontalement */
  margin-top: 20px; /* Ajoute un espacement au-dessus du texte */
  color: #00223B;
}


mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

button[type="submit"] {
  display: block; /* Permet d'utiliser les marges automatiques */
  margin: 0 auto; /* Centre le bouton horizontalement */
  background-color: #0994DC; /* Couleur de fond du bouton */
  color: white; /* Couleur du texte du bouton */
  border: none; /* Supprime les bordures du bouton */
  padding: 10px 20px; /* Ajoute un espacement à l'intérieur du bouton */
  font-size: 16px; /* Taille de la police du texte */
  border-radius: 5px; /* Arrondi les coins du bouton */
  cursor: pointer; /* Change le curseur au survol */
  transition: background-color 0.3s, box-shadow 0.3s; /* Animation de transition */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Ombre légère */
}

mat-card {
  flex: 1;
  max-width: 45%; /* Ajustez la largeur selon vos besoins */
  margin-top: 20px; /* Déplace la carte vers le bas */
  background-color: white; /* Couleur de fond de la carte */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Ombre légère */
}

.login-body {
  background-color: white; /* Couleur de fond grise */
  margin: 0;
  padding: 0;
  height: 100vh; /* Ajustez la hauteur selon vos besoins */
  display: flex;
  justify-content: center;
  align-items: center;
}