<section id="features" class="features">

    <div class="container" data-aos="fade-up">
  
      <header class="section-header">
        <div class="section-title">
          <h2>Fonctionnalités</h2>
        </div>
        <p>Découvrez les fonctionnalités qui rendent le covoiturage plus facile et plus pratique</p>
      </header>
  <br/>  <br/>

      <div class="row">
  
        <div class="col-lg-6">
          <img src="assets/img/photo3.png" class="img-fluid animated" alt="">
        </div>
        
        
  
        <div class="col-lg-6 mt-5 mt-lg-0 d-flex">
          <div class="row align-self-center gy-4">
  
            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="200">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Réservation facile</h3>
              </div>
            </div>
  
            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="300">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Partage des frais</h3>
              </div>
            </div>
  
            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="400">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Itinéraires flexibles</h3>
              </div>
            </div>
  
            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="500">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Évaluation des conducteurs</h3>
              </div>
            </div>
  
            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="600">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Options de confort</h3>
              </div>
            </div>
  
            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="700">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>Service client 24/7</h3>
              </div>
            </div>
  
          </div>
        </div>
  
      </div>
    </div>
  </section>
  